:root {
  --md-primary-fg-color:        #98892C;
  --md-primary-fg-color--light: #CCB63B;
  --md-primary-fg-color--dark:  #556A00;
  --md-accent-fg-color: #98892C;
  --md-color-accent: #98892C;
  
  /* Theo red
  --md-primary-fg-color:        #FF003C;
  --md-primary-fg-color--light: #ED2939;
  --md-primary-fg-color--dark:  #7a1b21;
  --md-accent-fg-color: FF003C;
  */

/* Grid sets the width of the main content */
.md-grid {
  max-width: 1500px; 
}

}

/* Custom beta status */
.md-status--beta::after {
    background-color: var(--md-default-fg-color--light);
    border-radius: 0.2rem;
    color: white;
    content: "beta";
    font-size: 0.5rem;
    height: auto;       
    padding: 0.1rem;
    -webkit-mask-image: none;
    width: auto;
}
.md-status:hover:after {
   background-color: var(--md-default-fg-color--light);
} 

.md-search__form {
	/*
      background-color: hsla(var(--md-hue), 0%, 0%, 0.07);

      // Search form on hover
      &:hover {
        background-color: hsla(var(--md-hue), 0%, 0%, 0.32);
      }
	  */
	  background-color: hsla(var(--md-hue), 0%, 0%, 0.5);

      // Search form on hover
      &:hover {
        background-color: hsla(var(--md-primary-fg-color--light), 50%, 50%, 0.5);
    }
	
