:root {
	  /*
  --md-accent-fg-color: #FF003C;
  --md-color-accent: #FF003C;
  
 color of links
  [data-md-color-primary=black] {
    --md-typeset-a-color: #FF003C;
  }
  */
  
  /* Theo red
  --md-primary-fg-color:        #FF003C;
  --md-primary-fg-color--light: #ED2939;
  --md-primary-fg-color--dark:  #7a1b21;
  --md-accent-fg-color: FF003C;
  --md-color-accent: #FF003C;
  */
  
.video-wrapper > iframe {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid black
}

.md-tabs {
  display: none;
}

.mk-bpmn-container {
    border: 2px solid grey;
    display: block; /* Ensures the border wraps correctly */
	background-color: white;
}

/* Custom beta status */
.md-status--beta::after {
    background-color: var(--md-default-fg-color--light);
    border-radius: 0.2rem;
    color: white;
    content: "beta";
    font-size: 0.5rem;
    height: auto;       
    padding: 0.1rem;
    -webkit-mask-image: none;
    width: auto;
}
.md-status:hover:after {
   background-color: var(--md-default-fg-color--light);
} 

/* custom abstract admonition*/
  --md-admonition-icon--summary: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>')
}


.md-grid {
	max-width: 75%; /* or 100%, if you want to stretch to full-width */
}


/* Target ordered lists inside workflow containers */
.md-typeset .workflow ol {
    counter-reset: workflow-counter;
    list-style: none;
    padding-left: 0;
    position: relative;
}

/* Style each list item */
.md-typeset .workflow ol > li {
    counter-increment: workflow-counter;
    position: relative;
    padding: 0.4rem 0.4rem 0.3rem 1.5rem; /* Space for numbering */
    margin-bottom: 0.7rem; /* Space between steps */
    background: rgba(237, 26, 51, 0.1); /* Light background */
    border-radius: 0px;
    border-left: 2px solid #ED1A33; /* Left border */
    margin-left: 2.5rem; /* Shift the entire text box to the right */
}

/* Custom step number */
.md-typeset .workflow ol > li::before {
    content: counter(workflow-counter);
    position: absolute;
    left: -2.0rem; /* Keep the number at the start */
    top: 1.0rem;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background-color: #ED1A33; /* Step color */
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    z-index: 3; /* Ensures number is on top */
}

/* Remove the line from the last item */
.md-typeset .workflow ol > li:last-child::after {
    display: none;
}

/* Ensure nested lists remain as bullet points */
.md-typeset .workflow ol > li ul {
    list-style: disc;
    padding-left: 1.2rem;
}


.md-typeset .admonition.summary,
.md-typeset details.summary {
  border-color: rgb(169, 169, 169);
}
.md-typeset .summary > .admonition-title,
.md-typeset .summary > summary {
  background-color: rgba(169, 169, 169, 0.1);
}
.md-typeset .summary > .admonition-title::before,
.md-typeset .summary > summary::before {
  background-color: rgb(169, 169, 169);
  -webkit-mask-image: var(--md-admonition-icon--summary);
          mask-image: var(--md-admonition-icon--summary);
}


.md-typeset .admonition.api,
.md-typeset details.api {
  border-color: rgb(169, 169, 169);
}
.md-typeset .api > .admonition-title,
.md-typeset .api > summary {
  background-color: rgba(169, 169, 169, 0.1);
}
.md-typeset .api > .admonition-title::before,
.md-typeset .api > summary::before {
  background-color: rgb(169, 169, 169);
  -webkit-mask-image: var(--md-admonition-icon--api);
          mask-image: var(--md-admonition-icon--api);
}

.md-header__button[for="__drawer"] {
  display: none
}

.md-button--xu {
  background: #98892C;
  border-color: #98892C !important;
  text-align: center;
}

.md-typeset .md-button--xu:focus,.md-typeset .md-button--xu:hover {
    background-color: #AF9D34;
    border-color: #AF9D34;
    color: #AF9D34
}

.md-button--xis {
  background: #0076BE;
  border-color: #0076BE !important;
  text-align: center;
}

.md-typeset .md-button--xis:focus,.md-typeset .md-button--xis:hover {
    background-color: #0091E5;
    border-color: #0091E5;
    color: #0091E5
}

.md-button--xfa {
  background: #CA5D27;
  border-color: #CA5D27 !important;
  text-align: center;
}

.md-typeset .md-button--xfa:focus,.md-typeset .md-button--xfa:hover {
    background-color: #F26D30;
    border-color: #F26D30;
    color: #F26D30
}

.md-button--bc {
  background: #004990;
  border-color: #004990 !important;
  text-align: center;
}

.md-typeset .md-button--bc:focus,.md-typeset .md-button--bc:hover {
    background-color: #2664b5;
    border-color: #2664b5;
    color: #2664b5
}

.md-button--yunio {
  background: #22A285;
  border-color: #22A285 !important;
  text-align: center;
}

.md-typeset .md-button--yunio:focus,.md-typeset .md-button--yunio:hover {
    background-color: #27BC97;
    border-color: #27BC97;
    color: #27BC97
}

.md-button--erp {
  background: #ED1A33;
  border-color: #ED1A33 !important;
  text-align: center;
}

.md-typeset .md-button--erp:focus,.md-typeset .md-button--erp:hover {
    background-color: #FF2643;
    border-color: #FF2643;
    color: #FF2643
}

.md-button--stretch {
    width: 16%;
}
