.nt-cards.nt-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
  max-width: 100vw;
  overflow-x: auto;
  padding: 1px;
}
.nt-cards.nt-grid.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.nt-cards.nt-grid.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.nt-cards.nt-grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.nt-cards.nt-grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.nt-cards.nt-grid.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.nt-cards.nt-grid.cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 900px) {
  .nt-cards.nt-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 600px) {
  .nt-cards.nt-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.nt-card {
  border: 2px solid rgba(193, 193, 193, 0.5);
  box-shadow: 0 2px 2px 0 rgba(193, 193, 193, 0.5), 0 3px 1px -2px rgba(193, 193, 193, 0.3), 0 1px 8px 0 rgba(193, 193, 193, 0.2);
}
.nt-card:hover {
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 1), 0 3px 1px -2px rgba(150, 150, 150, 1), 0 1px 8px 0 rgba(150, 150, 150, 0.9);
}

[data-md-color-scheme=slate] .nt-card {
  box-shadow: 0 2px 2px 0 rgba(193, 193, 193, 0.5), 0 3px 1px -2px rgba(193, 193, 193, 0.3), 0 1px 8px 0 rgba(193, 193, 193, 0.2);
}
[data-md-color-scheme=slate] .nt-card:hover {
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 1), 0 3px 1px -2px rgba(150, 150, 150, 1), 0 1px 8px 0 rgba(150, 150, 150, 0.9);
}


.nt-card > a {
  color: var(--md-default-fg-color);
}

.nt-card > a > div {
  cursor: pointer;
}

.nt-card {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.nt-card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 4px 0 8px 0;
  line-height: 22px;
  text-align: center;
}

.nt-card-content {
  padding: 0.4rem 0.8rem 0.8rem 0.8rem;
}

.nt-card-text {
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}

.nt-card .nt-card-image {
  text-align: center;
  border-radius: 2px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-width: 100%;
  min-height: 120px;
}

.nt-card-icon {
  text-align: center;
  padding-top: 20px;
  border-radius: 2px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-width: 100%;
}


.nt-card .nt-card-image.tags img {
  margin-top: 12px;
}

.nt-card .nt-card-image img {
  height: 105px;
  margin-top: 15px;
}

.nt-card:nth-child(1) a:hover,
.nt-card:nth-child(1) a:focus {
  color: #98892C;
}

.nt-card:nth-child(2) a:hover,
.nt-card:nth-child(2) a:focus {
  color: #0076BE;
}

.nt-card:nth-child(3) a:hover,
.nt-card:nth-child(3) a:focus {
  color: #00ADE6;
}

.nt-card:nth-child(4) a:hover,
.nt-card:nth-child(4) a:focus {
  color: #CA5D27;
}

.nt-card:nth-child(5) a:hover,
.nt-card:nth-child(5) a:focus {
  color: #004990;
}

.nt-card:nth-child(6) a:hover,
.nt-card:nth-child(6) a:focus {
  color: #F0A202;
}

.nt-card:nth-child(7) a:hover,
.nt-card:nth-child(7) a:focus {
  color: #22A285;
}
.nt-card:nth-child(8) a:hover,
.nt-card:nth-child(8) a:focus {
  color: #ED1A33;
}


.nt-card h2 {
  margin: 0;
}