:root {
  --md-primary-fg-color:        #CA5D27;
  --md-primary-fg-color--light: #e9bea8;
  --md-primary-fg-color--dark:  #50250f;
  --md-accent-fg-color: #F26D30;
  --md-color-accent: #CA5D27;
  
  /* Theo red
  --md-primary-fg-color:        #FF003C;
  --md-primary-fg-color--light: #ED2939;
  --md-primary-fg-color--dark:  #7a1b21;
  --md-accent-fg-color: FF003C;
  */
  .video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black
}

.md-typeset .md-button--stretch { width: 100%; text-align: center;}
/* right navigation (toc): title */	
.md-nav__title {
  font-size: 16px;
}

/* left navigation: section headers */
.md-sidebar--primary .md-nav__item--section > label.md-nav__link {
    font-size: 16px;   	 	
}

/* Grid sets the width of the main content */
.md-grid {
  max-width: 75%; /* or 100%, if you want to stretch to full-width */
}

/* custom abstract admonition*/
  --md-admonition-icon--summary: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>')
}

.md-typeset .admonition.summary,
.md-typeset details.summary {
  border-color: rgb(169, 169, 169);
}
.md-typeset .summary > .admonition-title,
.md-typeset .summary > summary {
  background-color: rgba(169, 169, 169, 0.1);
}
.md-typeset .summary > .admonition-title::before,
.md-typeset .summary > summary::before {
  background-color: rgb(169, 169, 169);
  -webkit-mask-image: var(--md-admonition-icon--summary);
          mask-image: var(--md-admonition-icon--summary);
}


/* minimize space between banner and content on landing pages*/
.md-typeset .grid {
    grid-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,16rem),1fr));
    margin: 0.6em 0;
}

.md-content__inner {
    margin: 0 0.8rem 1.2rem;
    padding-top: 0.3rem;
}

/* Custom beta status */
.md-status--beta::after {
    background-color: var(--md-default-fg-color--light);
    border-radius: 0.2rem;
    color: white;
    content: "beta";
    font-size: 0.5rem;
    height: auto;       
    padding: 0.1rem;
    -webkit-mask-image: none;
    width: auto;
}
.md-status:hover:after {
   background-color: var(--md-default-fg-color--light);
} 


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

.modal-content h1 {
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.placeholder-row {
  animation: gradientAnimation 1.5s infinite;
  height: 40px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
}

.placeholder-cell {
  filter: blur(5px);
  animation: gradientAnimation 1.5s infinite;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;

}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}


.md-search__form {
	/*
      background-color: hsla(var(--md-hue), 0%, 0%, 0.07);

      // Search form on hover
      &:hover {
        background-color: hsla(var(--md-hue), 0%, 0%, 0.32);
      }
	  */
	  background-color: hsla(var(--md-hue), 0%, 0%, 0.5);

      // Search form on hover
      &:hover {
        background-color: hsla(var(--md-primary-fg-color--light), 50%, 50%, 0.5);
    }
	
.do-not-display {
  display: none;
}
